{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Create Customer</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.company_name.label(class="form-control-label") }}
            {{ form.company_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.representative_name.label(class="form-control-label") }}
            {{ form.representative_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.representative_email.label(class="form-control-label") }}
            {{ form.representative_email(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Create Customer</button>
    </form>
</div>
{% endblock %}
