{% extends "base.html" %}
{% block title %}Manage Inertia Bases{% endblock %}
{% block content %}
<div class="container">
    <h2>Manage Inertia Bases</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="manual-tab" data-toggle="tab" href="#manual" role="tab" aria-controls="manual" aria-selected="true">Manual Input</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="file-tab" data-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">File Upload</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="manual" role="tabpanel" aria-labelledby="manual-tab">
            <form method="POST" action="{{ url_for('admin.create_inertia_bases') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.part_number.label }}
                    {{ form.part_number(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.length.label }}
                    {{ form.length(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.width.label }}
                    {{ form.width(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.height.label }}
                    {{ form.height(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.spring_mount_height.label }}
                    {{ form.spring_mount_height(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.weight.label }}
                    {{ form.weight(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.spring_amount.label }}
                    {{ form.spring_amount(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.cost.label }}
                    {{ form.cost(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
        <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
            <form method="POST" action="{{ url_for('admin.upload_inertia_bases') }}" enctype="multipart/form-data">
                {{ file_form.hidden_tag() }}
                <div class="form-group">
                    {{ file_form.file.label }}
                    {{ file_form.file(class="form-control-file") }}
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}