{% extends "base.html" %}

{% block title %}
    View Blank Tech Data
{% endblock %}

{% block content %}
<div class="container">
    <h2>Blank Tech Data</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Flow (L/s)</th>
                    <th>Head (kPa)</th>
                    <th>Poles</th>
                    <th>kW</th>
                    <th>IE Class</th>
                    <th>MEI</th>
                    <th>Absorbed Power</th>
                    <th>NPSH</th>
                    <th>Efficiency</th>
                    <th>Weight</th>
                    <th>Length</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.rows %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
