# Flask
Flask>=2.2.0

# Database
Flask-SQLAlchemy>=3.0.0
Flask-Migrate

# Security and Authentication
Flask-Login
Flask-Security-Too
email_validator

# Forms
Flask-WTF

# Caching
Flask-Caching
redis

# Utilities
python-dotenv
psycopg2-binary
PyYAML
openpyxl
pandas
XlsxWriter
numpy
scipy
matplotlib

Flask-Security-Too==5.6.2